@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-main-rgb: 255, 255, 255;
  --background-highlight-rgb: 214, 219, 220;
  --color-primary-rgb: 59, 85, 206;
  --color-secondary-rgb: 255, 97, 190;
  --color-gray-lightest-rgb: 139, 130, 183;
  --color-gray-light-rgb: 97, 91, 126;
  --color-gray-rgb: 66, 60, 94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* テキストの文字色 */
    --background-main-rgb: 29, 31, 39;
    --background-highlight-rgb: 181, 55, 242;
    --color-primary-rgb: 181, 55, 242;
    --color-secondary-rgb: 255, 20, 147;
    --color-gray-lightest-rgb: 139, 130, 183;
    --color-gray-light-rgb: 97, 91, 126;
    --color-gray-rgb: 66, 60, 94;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    210deg,
    rgba(var(--background-highlight-rgb), 0.5) -50%,
    rgb(var(--background-main-rgb)) 20%,
    rgb(var(--background-main-rgb))
  );
}

@media (min-width: 800px) {
  body {
    background: linear-gradient(
      195deg,
      rgba(var(--background-highlight-rgb), 0.5) -50%,
      rgb(var(--background-main-rgb)) 20%,
      rgb(var(--background-main-rgb))
    );
  }
}
