@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #d6dbdc;
  --background-end: #ffffff;
  --color-primary: #3b55ce;
  --color-secondary: #ff61be;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-start: #b537f2;
    --background-end: #1d1f27;
    --color-primary: #8a2be2;
    --color-secondary: #ff1493;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: linear-gradient(
    to bottom left,
    var(--background-end) 5%,
    var(--background-start) 20%,
    var(--background-end) 30%,
    var(--background-end)
  );
  background-size: 100% 100%;
}
